<template id="agit-payment-paypal-checkout">
<table>{# dummy #}
    <tbody class="module-paypal method-paypal">
        <tr>
            <th>
                {{ t("In the next step, you will be forwarded to the PayPal website to finish the payment.") }}
            </th>
            <td>
                <div class="paypal-logo">
                    {% include "AgitPaypalBundle:Include:paypal.svg.twig" %}
                </div>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
</template>
