<template id="agit-paypal">
<table>
    <tbody class="module-paypal method-paypal">
        <tr>
            <td colspan="2">
                <span>{{ t("In the next step, you will be forwarded to the PayPal website to finish the payment.") }}</span>
                <span class="paypal-logo">{% include "AgitPaypalBundle:Include:paypal.svg.twig" %}</span>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
</template>
